@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500;600;700&display=swap');

* {
  font-family: 'Prompt', sans-serif;
  font-size: 12px !important;
  color: #fff !important;
}

.navbar {
  background: transparent;
}

body,
.content-wrapper,
.card-body,
.auth-form-light,
.sidebar,
.navbar-menu-wrapper,
.navbar-brand-wrapper {
  background: #232227 !important;
}

.sub-menu,
.hover-open .menu-title {
  background: #1a191e !important;
}

.sub-menu .nav-link {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.nav .nav-item .nav-link {
  background: #1a191e !important;
  padding: 15px !important;
}

.nav .nav-item .active {
  background: #cd9c00d9 !important;
}

.form-control {
  background: transparent !important;
}

.alert-danger {
  background: #e93535e8;
  border-color: #ff2817;
}

.alert-dark {
  background-color: #18181847;
}

.menu-title,
.nav-category {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.menu-icon {
  margin-left: 10px;
}

.navbar-brand-wrapper {
  background: transparent !important;
}

small,
label,
input,
.alert {
  font-size: 12px !important;
}

.card {
  -webkit-box-shadow: 0 0 0 0 rgb(22 22 22 / 11%), 0 4px 16px 0 rgb(0 0 0 / 33%);
}

.form-control,
.asColorPicker-input,
.dataTables_wrapper select,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-search__field,
.typeahead,
.tt-query,
.tt-hint,
.alert-dark {
  border: 1px solid #ffffff12;
}